::selection {
  background-color: #f0f5ff;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: -10;
}

[data-button] {
  background-color: #2f54eb;
  color: #fff;
  cursor: pointer;
  margin: 2px;
  padding: 8px 16px;
  transition: 100ms background-color;
  user-select: none;
  display: inline-flex;

  &:hover {
    background-color: #597ef7;
  }

  &:active {
    background-color: #1d39c4;
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  position: relative;
  margin: 0 5%;

  > div {
    display: flex;
  }
}

main {
  margin: 0 10%;
}

#input {
  border: 2px solid #2f54eb;
  display: block;
  height: 100vh;
  height: calc(100vh - 64px);
  position: relative;
  box-sizing: border-box;
  font-family: monospace;
  outline: none;
  padding: 0;
  resize: none;
  width: 100%;
}

[data-hidden] {
  display: none!important;
}

[data-dialog] {
  background-color: rgba(217, 217, 217, 0.5);
  background-color: #d9d9d9bf;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .dialog-container {
    background: #fff;
    padding: 8px;
    min-width: 400px;
    max-width: 90%;
    min-height: 300px;
    max-height: 90%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    .dialog-scrollable {
      overflow: auto;
    }
  }
}
#errors-list {
  &:empty {
    margin: 0;
    padding: 0;
    &:before {
      content: "No errors";
    }
  }
}
#output {
  background-color: #eee;
  padding: 2px;
  user-select: all;
  position: relative;
  top: 1em;
  &:before {
    background-color: #fff;
    font-family: sans-serif;
    content: "Click inside box to select all.";
    display: block;
    position: absolute;
    left: 0;
    bottom: 100%;
  }
  &:empty {
    margin: 0;
    padding: 0;
    background-color: unset;
    position: unset;
    top: unset;
    &:before {
      content: "No flags found";
      position: unset;
      left: unset;
      bottom: unset;
    }
  }
}