@mixin button {
  background-color: #2f54eb;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  margin: 2px;
  padding: 8px 16px;
  transition: 25ms background-color;
  user-select: none;

  &:hover {
    background-color: #597ef7;
  }

  &:active {
    background-color: #1d39c4;
  }

  &--disabled {
    background-color: #bfbfbf;
    cursor: not-allowed;
    transition: none;

    &:hover, &:active {
      background-color: #bfbfbf;
    }
  }
}
