::selection {
  background-color: rgba(240, 245, 255, 0.6);
  background-color: #d6e4ff99; }

body {
  background-color: #f0f5ff;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: -10; }

.menu {
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 64px;
  margin: 0 5%;
  position: relative; }
  .menu__group {
    display: flex; }
  .menu__button {
    background-color: #2f54eb;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    margin: 2px;
    padding: 8px 16px;
    transition: 25ms background-color;
    user-select: none; }
    .menu__button:hover {
      background-color: #597ef7; }
    .menu__button:active {
      background-color: #1d39c4; }
    .menu__button--disabled {
      background-color: #bfbfbf;
      cursor: not-allowed;
      transition: none; }
      .menu__button--disabled:hover, .menu__button--disabled:active {
        background-color: #bfbfbf; }

.dialog {
  align-items: center;
  background-color: rgba(217, 217, 217, 0.5);
  background-color: #d9d9d9bf;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%; }
  .dialog--hidden {
    display: none; }
  .dialog__message--hidden {
    display: none; }
  .dialog__contents {
    display: contents; }
    @supports not (display: contents) {
      .dialog__contents {
        height: 300px; } }
  .dialog__container {
    background: #fff;
    padding: 8px;
    display: flex;
    min-height: 300px;
    max-height: 90%;
    justify-content: space-between;
    flex-direction: column;
    min-width: 600px;
    max-width: 90%; }
  .dialog__scrollable {
    height: 100%;
    overflow: auto; }
  .dialog__button {
    background-color: #2f54eb;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    margin: 2px;
    padding: 8px 16px;
    transition: 25ms background-color;
    user-select: none; }
    .dialog__button:hover {
      background-color: #597ef7; }
    .dialog__button:active {
      background-color: #1d39c4; }
    .dialog__button--disabled {
      background-color: #bfbfbf;
      cursor: not-allowed;
      transition: none; }
      .dialog__button--disabled:hover, .dialog__button--disabled:active {
        background-color: #bfbfbf; }
  .dialog__buttons {
    display: inline-flex;
    justify-content: space-between; }

.toast {
  background-color: #2f54eb;
  bottom: 0;
  color: #fff;
  margin: 16px;
  left: 0;
  padding: 8px 16px;
  position: fixed;
  user-select: none; }
  .toast--hidden {
    display: none; }

.page-title {
  font-size: 1.5rem; }

.main__input {
  background-color: #fff;
  border: 2px solid #2f54eb;
  box-sizing: border-box;
  color: #000;
  display: block;
  font-family: monospace;
  height: 100vh;
  height: calc(100vh - 64px - 16px);
  margin: 0;
  margin-bottom: 16px;
  min-height: 300px;
  outline: none;
  padding: 0;
  position: relative;
  resize: none;
  transition: 25ms background-color;
  width: 100%; }
  .main__input:disabled {
    background-color: #bfbfbf;
    color: #fff; }

.main__output {
  background-color: #eee;
  border: none;
  font-family: monospace;
  margin: 0;
  min-height: 55vh;
  padding: 0;
  position: relative;
  resize: none;
  user-select: all;
  white-space: pre-wrap;
  width: 100%; }
  .main__output:before {
    font-family: sans-serif;
    content: "";
    /* @supports (user-select: all) {
      content: "Click inside box to select all.";
    } */
    display: block;
    position: absolute;
    left: 0;
    bottom: 100%; }
  .main__output:empty {
    margin: 0;
    padding: 0;
    background-color: unset;
    position: unset;
    top: unset; }
    .main__output:empty:before {
      content: "No flags found";
      position: unset;
      left: unset;
      bottom: unset; }

main {
  margin: 0 10%; }

#errors-list:empty {
  margin: 0;
  padding: 0; }
  #errors-list:empty:before {
    content: "No errors"; }

/*# sourceMappingURL=index.css.map */
